
body {
	width:960px;
	background-color:#f4eeff;
	margin:20px auto;
}


h1 {
	margin:50px;
	font-family:"Lucida Console", Times, serif;
	color:#424874;
	text-align:center;
	font-size: 50px;
}

h2 {
	font-family:"Lucida Console", Times, serif;
	color:#424874;
	font-size: 30px;
	font-style:italic;
}

p {
	font-family:Verdana, Helvetica, sans-serif;
	margin: 25px 25px 25px 25px;
	font-family: Helvetica, Verdana, sans-serif;
	font-size:18px;
}

ul {
	margin: 25px 25px 25px 25px;
	font-family:Helvetica, Verdana, sans-serif;
	font-size:18px;
}

.kara {
	float: right;
	margin-right: 400px;
	width:500px;
	margin-bottom:50px;
}

.pups {
	float: right;
	margin-right: 400px;
	width:500px;
	margin-bottom:50px;
}
.edu {
	float: right;
	margin-right: 400px;
	width:500px;
	margin-bottom:50px;
}
.BA {
	float: right;
	margin-right: 400px;
	width:500px;
	margin-bottom:50px;
}
nav {
	text-align: center;
	color:#424874;
	font-family:"Lucida Console",serif;
	font-size:18px;
	text-transform:uppercase;
}

